@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(0.9821 0 0);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2138 0.0019 286.2347);
  --primary: oklch(0.2340 0.0787 282.6605);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6228 0.2064 36.0369);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9097 0 0);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.9702 0 0);
  --accent-foreground: oklch(0.2340 0.0787 282.6605);
  --destructive: oklch(0.5379 0.2186 25.9751);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8420 0.0527 290.0434);
  --input: oklch(0.7138 0.0982 287.6765);
  --ring: oklch(0.5746 0.1494 285.2226);
  --chart-1: oklch(0.6887 0.1650 276.5848);
  --chart-2: oklch(0.3541 0.1376 280.9758);
  --chart-3: oklch(0.5897 0 0);
  --chart-4: oklch(0.6228 0.2064 36.0369);
  --chart-5: oklch(0.8133 0.0953 39.2061);
  --sidebar: oklch(0.2340 0.0787 282.6605);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9672 0 0);
  --sidebar-accent-foreground: oklch(0.2340 0.0787 282.6605);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.7090 0 0);
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Roboto Mono, ui-monospace, monospace;
  --radius: 0.65rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 6.5px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.42;
  --shadow-color: #1a1641;
  --shadow-2xs: 0 1px 6.5px -1px hsl(245.5814 49.4253% 17.0588% / 0.21);
  --shadow-xs: 0 1px 6.5px -1px hsl(245.5814 49.4253% 17.0588% / 0.21);
  --shadow-sm: 0 1px 6.5px -1px hsl(245.5814 49.4253% 17.0588% / 0.42), 0 1px 2px -2px hsl(245.5814 49.4253% 17.0588% / 0.42);
  --shadow: 0 1px 6.5px -1px hsl(245.5814 49.4253% 17.0588% / 0.42), 0 1px 2px -2px hsl(245.5814 49.4253% 17.0588% / 0.42);
  --shadow-md: 0 1px 6.5px -1px hsl(245.5814 49.4253% 17.0588% / 0.42), 0 2px 4px -2px hsl(245.5814 49.4253% 17.0588% / 0.42);
  --shadow-lg: 0 1px 6.5px -1px hsl(245.5814 49.4253% 17.0588% / 0.42), 0 4px 6px -2px hsl(245.5814 49.4253% 17.0588% / 0.42);
  --shadow-xl: 0 1px 6.5px -1px hsl(245.5814 49.4253% 17.0588% / 0.42), 0 8px 10px -2px hsl(245.5814 49.4253% 17.0588% / 0.42);
  --shadow-2xl: 0 1px 6.5px -1px hsl(245.5814 49.4253% 17.0588% / 1.05);
  --tracking-normal: 0em;
  --spacing: 0.24rem;
}

.dark {
  --background: oklch(0.2029 0.0160 279.2864);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2063 0.0120 277.8347);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(1.0000 0 0);
  --primary-foreground: oklch(0.2046 0 0);
  --secondary: oklch(0.6228 0.2064 36.0369);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2350 0 0);
  --muted-foreground: oklch(0.7090 0 0);
  --accent: oklch(0.3290 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.6280 0.2577 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2768 0 0);
  --input: oklch(0.4017 0 0);
  --ring: oklch(0.5555 0 0);
  --chart-1: oklch(0.6198 0.1318 286.5096);
  --chart-2: oklch(0.3381 0.1296 281.5030);
  --chart-3: oklch(0.3890 0.0186 293.8580);
  --chart-4: oklch(0.6228 0.2064 36.0369);
  --chart-5: oklch(0.7643 0.1234 39.3405);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.4878 0.2432 264.4045);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2809 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Roboto Mono, ui-monospace, monospace;
  --radius: 0.65rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 6.5px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.42;
  --shadow-color: #e1e3fb;
  --shadow-2xs: 0 1px 6.5px -1px hsl(235.3846 76.4706% 93.3333% / 0.21);
  --shadow-xs: 0 1px 6.5px -1px hsl(235.3846 76.4706% 93.3333% / 0.21);
  --shadow-sm: 0 1px 6.5px -1px hsl(235.3846 76.4706% 93.3333% / 0.42), 0 1px 2px -2px hsl(235.3846 76.4706% 93.3333% / 0.42);
  --shadow: 0 1px 6.5px -1px hsl(235.3846 76.4706% 93.3333% / 0.42), 0 1px 2px -2px hsl(235.3846 76.4706% 93.3333% / 0.42);
  --shadow-md: 0 1px 6.5px -1px hsl(235.3846 76.4706% 93.3333% / 0.42), 0 2px 4px -2px hsl(235.3846 76.4706% 93.3333% / 0.42);
  --shadow-lg: 0 1px 6.5px -1px hsl(235.3846 76.4706% 93.3333% / 0.42), 0 4px 6px -2px hsl(235.3846 76.4706% 93.3333% / 0.42);
  --shadow-xl: 0 1px 6.5px -1px hsl(235.3846 76.4706% 93.3333% / 0.42), 0 8px 10px -2px hsl(235.3846 76.4706% 93.3333% / 0.42);
  --shadow-2xl: 0 1px 6.5px -1px hsl(235.3846 76.4706% 93.3333% / 1.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}